<div class="container">
  <div class="newpost_outter_container row">
    <div class="col-md-7">
      <img class="img-responsive center-block newpost_photo" src="/assets/newpost.png" />
    </div>
    <div class="col-md-3">
    <h4>Post an item for sale:</h4>

      <%= render :partial => "form" %><br>
    </div>
  </div>
</div>
  