.navbar-header {
  background-color: #00B4BE;
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse {
  background-color: #00B4BE;
  padding-right: 20px;
}

#bs-example-navbar-collapse-1.navbar-collapse.in {
  background-color: #00B4BE;
}

.treasurechest_icon {
  width: 30px;
  height: 30px;
}

.navbar-default .navbar-brand {
  font-family: 'Sonsie One', cursive;
  font-size: 25px;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.notice_container {
  text-align: center;
}

/*Styling for index/home page*/
body {
  padding-top: 70px;
}

.search_container {
  /*border: solid;*/
  padding-left: 30px;
}

.inner_search_container {
  /*border: solid;*/
  /*text-align: center;*/
}

input#post_city {
  width: 250px;
}

input#post_name_description {
  width: 250px;
}

input.submit_search {
  width: 65px;
}

.main_container {
  /*border: solid;*/
  /*padding-left: 50px;*/
}

.item {
  width: 320px;
  margin: 5px;
  float: left;
  border: solid;
  padding: 5px;
  background-color: #F8F8F8;
  border-color: #E7E7E7;
}

.img {
  /*border: solid;*/
  text-align: center;
  max-width: 100%;
}

.pagination {
  visibility: hidden;
}

#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/*Styling for the user page*/
#container.masonry {
  margin-left: 50px;
}

/*Styling for signup page*/
.signup_outter_contianer {
  border: solid;
  border-color: white;
  background-image: url("background_image.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 240px;

}

.signup_container {
  /*border: solid;*/
  text-align: center;
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #333333;
  opacity: .85;
  color: white;
}

/*Styling for signin page*/
.signin_container {
  /*border: solid;*/
  text-align: center;
}
input#user_remember_me{
  width: 20px;
}

/*Styling for new post page*/
input{
  width: 250px;
}
textarea {
  width: 250px;
  height: 100px;
}

/*Styling for edit post page*/
input.delete_post {
  background-color: #E82C0C;
}
