.navbar-header {
  background-color: #00B4BE;
}

#bs-example-navbar-collapse-1.collapse.navbar-collapse {
  background-color: #00B4BE;
}

#bs-example-navbar-collapse-1.navbar-collapse.in {
  background-color: #00B4BE;
}

.navbar-default .navbar-brand {
  font-family: 'Sonsie One', cursive;
  font-size: 25px;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

/*Styling for index/home page*/
#container {
  padding-left: 20px;
}
.item {
  width: 320px;
  margin: 5px;
  float: left;
  border: solid;
  padding: 5px;
  background-color: #F8F8F8;
  border-color: #E7E7E7;
}

.img {
  /*border: solid;*/
  text-align: center;
  max-width: 100%;
}

input#post_city {
  width: 250px;
}

input.submit_city {
  width: 65px;
}

input.submit_category {
  width: 65px;
}

/*Styling for signup page*/
.signup_container {
  /*border: solid;*/
  text-align: center;
}

/*Styling for signin page*/
.signin_container {
  /*border: solid;*/
  text-align: center;
}
input#user_remember_me{
  width: 20px;
}

/*Styling for new post page*/
input{
  width: 250px;
}
textarea {
  width: 250px;
  height: 100px;
}

/*Styling for edit post page*/
input.delete_post {
  background-color: #E82C0C;
}
